# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
.venv
# Ignore all CSV files
*.csv
*.jpg
*.png
*.jpeg
api_key.yaml
data/image_search/data/
test.py
